*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .container {
    display: flex;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-self: flex-end;
}

nav ul li {
    padding-right: 15px;
}
nav ul li img  {
    padding: 10px;
    border-radius: 20px;
    background-color: grey;
}

nav ul li img:hover {
    background-color: orange;
}

#first {
    display: flex;
    margin-bottom: 5vh;
}
#first ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#first ul li {
    margin-right: 10px;
}

#first ul li a{
    text-decoration: none;
    color: grey;
}

#first ul li a:hover {
    color: orange;
}

#first button {
    display: flex;
    border-radius: 20px;
    align-items: center;
    background-color: black;
    color: white;
    
}

#first button img {
    padding: 10px;
    border-radius: 20px;
    background-color: grey;
    margin-right: 5px;
}

#first button:hover {
    color: orange;
}

/* Third */

.grid-container{
    /* width: 100%; */
    margin-top: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-container .left{
    /* background-color: gray; */
    grid-row: span 2 ;
}

.grid-container .left span{
    width: 50px;
    padding: 30px 15px;
    border-radius: 50%;
    background-color: orange;
    position: relative;
    left:-40px;
    top: -40px;
}

.grid-container .Middle-top {
    P{
        color: orange;
    }

    H1 {
        font-weight: bold;
    }
}

.grid-container .right {
    grid-row: span 2;
   border-radius: 15px;
   box-shadow: 0px 0px 10px 0px  black;
    
}

.grid-container .Middle-bottom{
    background-color: rgb(255, 249, 237);
    padding-left: 10px;
    border-radius: 15px;
}

.grid-container .Middle-bottom .links {
    color: orange;
}

.grid-container .Middle-bottom span {
    font-weight: bold;
}

.grid-container .Middle-bottom a{
    text-decoration: none;
}

.lol{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.lol section {
    display: flex;
    padding-left: 10px;
}

.lol hr {
    width: 80%;
    margin-left: 10%;
}

.lol img {
    width: 100px;
    margin-right: 10px;
}

/* FOURTH */

.fourth{
    background-image: url(./assets/images/video-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.fourth>div {
    display: flex;
    justify-content: center;
}
.fourth>div .top {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 250px;
    text-align: center;
}

.fourth>div .top:hover{
    transition: 1s;
    transform: scale(1.1);
}

.fourth>div .top p{
    color: orange;
}

.fourth>div .top H2 {
    color: white;
}

.fourth .bottom{
    display: flex;
    justify-content: center;
}

.fourth .bottom img{
    border-radius: 20px;    
}

.fourth .bottom span img {
    width: 50px;
    position: relative;
    left: -550px;
    bottom: -250px;
}
.fourth .bottom span img:hover{
    transition: 1s;
    transform: scale(1.5);
}
